@import "compass/reset";

@include global-reset;
@include reset-html5;

#col1 {
  background-color: lightgreen;
} 

#col2 {
  background-color: lightblue;
} 

#col3 {
  background-color: lightyellow;
} 

#col4 {
  background-color: orange;
} 



