@import "compass/reset";
@import "compass/css3";

@include global-reset;
@include reset-html5;

/* body { */
/*   margin: 5%; */
/* } */

/* #container { */
/*   width: 100%; */
/* } */

.snippet:nth-child(5n) {
  background-color: lightgreen;
} 

.snippet:nth-child(5n+1) {
  background-color: lightblue;
} 

.snippet:nth-child(5n+2) {
  background-color: lightyellow;
} 

.snippet:nth-child(5n+3) {
  background-color: lightgray;
} 

.snippet:nth-child(5n+4) {
  background-color: orange;
} 

