
@import "columnlayout-base";

@import "uihelper.all";

$column-layout-strategy: "css3";

#container {
  @include col-layout((100, 200, 100), 8, 4);
}

#container_varied_padding {
  @include col-layout((100, 200, 100), 8, (5, 10, 0));
}

h2 {
  clear:both;
  margin-bottom: 20px;
  padding-top: 20px;
}