
@import "columnlayout-base";

@import "uihelper.all";

$column-layout-strategy: "css3";

#container {
  @include col-layout((100, 200), 6, 3);
}

#container_right {
  @include col-layout((100, 200), 6, 3, 100%, "right");
}


#container_rightonly {
  @include col-layout((100, 200), 6, 3, 100%, "right");
}

h2 {
  clear:both;
  margin-bottom: 20px;
  padding-top: 20px;
}