
@import "gridtest-base";

@import "rowless-grid";
$rowless-grid-strategy: "css3";


@media screen and (min-width: 865px) {
  #container {
    @include rowless-grid(".snippet", 4, 960, 10, 5);
  }
}

@media screen and (min-width: 481px) and (max-width: 864px) {
  #container {
    @include rowless-grid(".snippet", 3, 768, 10, 5);
  }
}

@media screen and (max-width: 480px) {
  #container {
    @include rowless-grid(".snippet", 2, 480, 5, 3);
  }
}