// master list of sizes for all layouts
$width-types: ( max, col-l, col-r );
<% model.each do |width, break_name| %>
$widths-<%= width %>:  ( <%= width %>, <%= (width / 3).to_i %>, <%= width - (width / 3).to_i %> );
<% end %>

// functions
<% model.each do |width, break_name| %>
@function <%= break_name %>($lookups, $types: $width-types, $widths: $widths-<%= width %>) {
  @return lookup($lookups, $types, $widths);
}
<% end %>